{% extends "bootstrap/base.html" %}
{% block title %}Max's Base{% endblock %}
{% set max_logged_in = session['logged_in'] %}
{% block head %}
{{ super() }}
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
<link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" type="text/css">
{% endblock %}

{% block navbar %}

<div class="navbar navbar-default" role=navigation>
  <div class="container-fluid">
    {% if max_logged_in %}
    <ul class="nav navbar-nav">
      <li><a href="{{ url_for('.index') }}">Blogs</a></li>
      <li><a href="{{ url_for('.journalhome') }}">Journals</a></li>
    </ul>
    {% endif %}
    <ul class="nav navbar-nav navbar-right">
      {% if max_logged_in %}
      <li><a href="{{ url_for('.logout') }}">Logout</a></li>
      {% else %}
      <li><a href="{{ url_for('.login') }}">Max</a></li>
      {% endif %}
    </ul>
  </div>
</div>
{% endblock %}


{% block content %}
<div class="container">
  {% for message in get_flashed_messages() %}
  <div class="alert alert-warning">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    {{ message }}
  </div>
  {% endfor %}

  {% block page_content %}{% endblock %}

</div>
{% endblock %}

{% block scripts %}
{{ super() }}
{{ moment.include_moment() }}
{% endblock %}
