{% extends "bootstrap/base.html" %}
{% block title %}Max's Base{% endblock %}

{% block head %}
{{ super() }}
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
<link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" type="text/css">
{% endblock %}

{% block navbar %}
<div class="navbar navbar-default" role=navigation>
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Blogs</a></li>
      <li><a href="#">Journals</a></li>
    </ul>
  </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
  {% for message in get_flashed_messages() %}
  <div class="alert alert_warning">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    {{ message }}
  </div>
  {% endfor %}

  {% block page_content %}{% endblock %}

</div>
{% endblock %}

{% block scripts %}
{{ super() }}
{{ moment.include_moment() }}
{% endblock %}
