{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block page_content %}
<div class="page-header">
    <h1>Welcome to Max's Base!</h1>
</div>
<div class="">
  {% if max_logged_in %}
    {{ wtf.quick_form(form) }}
  {% endif %}
</div>
<ul class="journals">
  {% for blog in blogs %}
  <a href="{{ url_for('main.blog', id=blog.id) }}">
  <li class="journal">
    <div class="journal-content">
      <div class="journal-date">{{ moment(blog.timestamp).fromNow() }}</div>
      <div class="journal-body">
        {{ blog.title }}
      </div>
    </div>
  </li>
  </a>
  {% endfor %}
</ul>
<div class="pagination">
    {{ macros.pagination_widget(pagination, '.index') }}
</div>
{% endblock %}
